p {
    font-size: 1.3vw;
    padding-left: 5%;
    color:black;
    text-align: left;
    font-family:"bahn";
    display: block;
}

#toName, #toEmail, #toPhone {
    margin-left: 7%;
    color:black;
    text-align: left;
    font-size: 1.3vw;
    font-family:"bahn";
    display: block;
}

#Send {
    font-size: 3vw;
    font-family:"bahn";
    text-align: center;
    background-color: aliceblue;
    padding: 3%;
    margin-left: 32%;
    border-radius: 2%;
    display:inline-block;
}

#Send:hover {
    background-color: rgb(223, 221, 221);
}