@keyframes hoverbig {
    to {width:43%}
}

@keyframes hoversmall {
    to {width:10%}
}


@font-face {
  font-family: 'bahn';
  src: URL('bahnschrift.ttf') format('truetype');
}

html {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.topbar {
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 1.5%;
    filter:drop-shadow(0px 3px 3px gainsboro)
}
.topbar #Logo{
    text-decoration: none;
    width:40%;
    padding: 1%;
    display:inline-block;
    border-radius: 1.5%;
    
}

.topbar #Browse{
    color:rgb(85, 187, 255);
    display:inline-block;
    text-align: center;
    padding: 2%;
    font-family: "bahn";
    width:8%;
    margin-left:3%;
    font-size:2vw;
    text-overflow: ellipsis;
    border-radius: 8%;
}

.topbar #split{
    display:inline-block;
    text-align: center;
    margin-left:3%;
    font-size:3vw;
    font-family: "bahn";
    color:gray;
}

.topbar #Logo:hover {
    background-color: rgb(223, 221, 221);
    animation-name: hoverbig;
    animation-duration: 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

.topbar #Browse:hover {
    animation-name: hoversmall;
    background-color: rgb(223, 221, 221);
    animation-duration: 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}